@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bootstrap-icons";
    src: url("../fonts/bootstrap-icons.woff2?dfb56c5c") format("woff2"),
         url("../fonts/bootstrap-icons.woff?dfb56c5c") format("woff");
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/* NAVBAR */
#navbar {
  border-bottom: 1px solid #7a7a7a;
  max-height: 9.2rem;
  padding: 0px;
}

#navbar a {
  color: #050505;
}

#navbar .active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 25rem;
  max-height: 7rem;
}

.navbar-brand span {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

/* Imagem do evento */
.imagemprincipal {
  margin-top: 10.5rem;
  text-align: center;
}

/* SLIDER */
#slider {
  margin-top: 2em;
  margin-bottom: 1em;
}

#slider .carousel-caption {
  bottom: 3em;
}

#slider .carousel-caption h5 {
  font-size: 2.5em;
  text-shadow: #000 2px 2px;
}

.btn {
  border-radius: 0;
}

#slider .btn {
  padding: 0.3em 0.8em;
  font-size: 1em;
  margin-top: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0.7;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #111;
  font-size: 3em;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: #000;
}

@media (min-width: 768px) {
  #slider .carousel-caption {
    bottom: 15em;
  }

  #slider .carousel-caption h5 {
    font-size: 4em;
    text-shadow: #000 2px 3px;
  }

  #slider .btn {
    padding: 0.6em 1.6em;
    font-size: 1.2em;
    margin-top: 1em;
  }

  .carousel-indicators {
    bottom: 7em;
  }
}

/* MINI BANNERS */
#mini-banners {
  margin-bottom: 4em;
}

#mini-banners .card {
  padding: 2em 0.3em;
  border-radius: 0;
}

#mini-banners i {
  font-size: 4em;
}

#mini-banners .card-title {
  margin-bottom: 1.5em;
}

#mini-banners .btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

#mini-banners .card {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  #mini-banners {
    margin-top: -6em;
  }
}


/* PONTOS TURÃSTICOS */
#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title:before {
  width: 75px;
  border-top: 4px solid #7a7a7a;
  content: '';
  position: absolute;
  bottom: 2em;
}

#featured-images {
  margin-top: 2em;
}

#featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover>.banner-content {
  opacity: 0.8;
}

#featured-images .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.5s;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content (image) - Responsivo */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Close when clicking outside the image */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Melhorias para dispositivos menores */
@media (max-width: 768px) {
  .modal-content {
    width: 85%;
    max-width: 500px;
  }
  
  #caption {
    font-size: 1.1em;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 90%;
    max-width: 300px;
  }

  #caption {
    font-size: 0.9em;
  }

  .close {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }

  #featured-images .banner-content {
    opacity: 0;
  }
}



/* QUEM SOMOS */
.quemtre{
  text-align: justify;
  text-justify: inter-word;
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .d-flex {
      flex-direction: column;
  }

  .quemtre {
      padding-right: 0;
      margin-bottom: 20px;
  }

  .imgquem {
      max-width: 100%;
      height: auto;
  }
}

@media (max-width: 576px) {
  .title {
      font-size: 1.5rem;
  }

  .quemtre p {
      font-size: 0.9rem;
  }
}



/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  text-align: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}

/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}


#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}


/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: #e61e10;
}

@media (min-width: 768px) {

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

}
